{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": "last 2 versions, > 0.20%, not dead"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
