@font-face {
  font-family: garibaldi;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url(garibaldi-regular.woff);
  font-display: swap;
}

@font-face {
  font-family: garibaldi;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url(garibaldi-italic.woff);
  font-display: swap;
}

@font-face {
  font-family: garibaldi;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url(garibaldi-medium.woff);
  font-display: swap;
}

@font-face {
  font-family: garibaldi;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url(garibaldi-medium-italic.woff);
  font-display: swap;
}

@font-face {
  font-family: "fira mono";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url(fira-mono-regular.woff2) format("woff2"),
       url(fira-mono-regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "fira mono";
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url(fira-mono-medium.woff2) format("woff2"),
       url(fira-mono-medium.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "fira mono";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url(fira-mono-medium.woff2) format("woff2"),
       url(fira-mono-medium.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "fira mono";
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url(fira-mono-bold.woff2) format("woff2"),
       url(fira-mono-bold.woff) format("woff");
  font-display: swap;
}
