html {
  font-size: 2.4vw;
  height: 100%;
  font-family: garibaldi, alegreya, palatino, serif;
}

a:lang(ja),
span:lang(ja),
div:lang(ja) {
  font-size: 89%;
  font-family: "Hiragino Mincho ProN", YuMincho, "Yu Mincho", "Noto Serif CJK JP",
    "Source Han Serif JP", "MS Mincho", HiraMinProN-W3, serif;
}

a:lang(zh-Hans),
span:lang(zh-Hans),
div:lang(zh-Hans) {
  font-size: 89%;
  font-family: "Songti SC", "Noto Serif CJK SC", "Source Han Serif CN", "Source Han Serif SC",
    NSimSun, SimSun, "LiSong Pro", PMingLiU, MingLiU, HiraMinProN-W3, serif;
}

a:lang(zh-Hant),
span:lang(zh-Hant),
div:lang(zh-Hant) {
  font-size: 89%;
  font-family: "Songti TC", "Noto Serif CJK TC", "Source Han Serif CN", "Source Han Serif TC",
    PMingLiU, STSong, "LiSong Pro", MingLiU, NSimSun, SimSun, HiraMinProN-W3, serif;
}

@media all and (min-width: 960px) {
  html {
    font-size: 23px;
  }
}

@media all and (max-width: 715px) {
  html {
    font-size: 18px;
  }
}

@media print {
  html {
    font-size: 12pt;
  }
}

::selection {
  background-color: #c1feae;
}

body {
  background-color: #f9fffa;
  color: #222;
  font-size: 1rem;
  max-width: 32rem;
  margin: auto;
  padding: 2.5rem 2.25rem;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  font-feature-settings: "c2sc" 1;
}

@media all and (max-width: 460px) {
  body {
    max-width: 31rem;
    padding: 2.5rem 1.25rem;
  }
}

.author {
  margin: -0.9rem 0 0.45rem 0;
  text-align: right;
}

h1,
h2,
h3 {
  margin-top: 0.9rem;
}

h1 {
  font-weight: normal;
  font-feature-settings: "smcp" 1;
  text-transform: lowercase;
  font-size: 1.15rem;
  letter-spacing: 0.06rem;
  margin-bottom: 0.2rem;
}

#title {
  margin-top: 0;
  font-size: 1.7rem;
  font-feature-settings: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  margin-bottom: 0.9rem;
}

h1 code {
  text-transform: none;
}

h2,
h3 {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

h2 {
  font-size: 1.15rem;
}

h3 {
  font-size: 1rem;
}

h1 + h2,
h2 + h3 {
  margin-top: 0rem;
}

h1 span.header-section-number::after {
  content: ".";
}

a {
  text-decoration: none;
  color: #049d67;
}

a:focus {
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #00b374;
}

a.nofocus:focus {
  outline-style: none;
}

p {
  line-height: 1.48;
}

p em {
  font-style: italic;
}

img,
main iframe {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 110%;
  display: block;
}

main iframe {
  margin-bottom: 0.9rem;
}

code {
  font-family: "fira mono", monospace;
  font-size: 82%;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}

.break-all {
  word-break: break-all;
}

code a {
  color: #333;
}

pre {
  background-color: #f4f7f7;
  font-size: 0.86rem;
  overflow-x: auto;
  word-break: keep-all;
  margin: 0.9rem -1.15rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 4px #d5d9d9;
}

.wide {
  margin: 0.9rem -3.3rem;
}

@media all and (max-width: 675px) {
  pre,
  .wide {
    margin: 0.9rem 0;
  }
}

pre ::selection {
  background-color: #dce0e0;
}

pre code {
  display: block;
}

q {
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-size: 95%;
  padding-left: 0.5rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

blockquote p {
  margin-bottom: 0.5rem;
}

[type="checkbox"] {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0.35rem;
}

li li {
  padding-left: 0.5rem;
  font-size: 100%;
  margin-bottom: 0;
}

li ul,
li ol {
  margin-bottom: 0;
}

ol li {
  list-style: decimal;
}

p + ul,
p + .links ul,
p + ol {
  margin-top: -0.3rem;
}

li,
dt {
  font-size: 96%;
}

li {
  margin-bottom: 0.25rem;
}

dt {
  margin-bottom: 0.3rem;
}

dd {
  font-size: 93%;
  margin-bottom: 0.4rem;
}

ul li::before {
  content: "-";
  margin-right: 0.4rem;
}

.links li::before,
dt::before {
  content: "»";
  margin-right: 0.4rem;
}

.nobullet li::before {
  content: "";
  margin-right: 0rem;
}

ol li {
  list-style-position: inside;
}

header {
  white-space: nowrap;
}

.footnotes {
  margin-top: 1.17rem;
  font-size: 0.91rem;
}

.footnotes ul {
  padding-left: 0;
}

.footnotes li::before {
  content: "";
  margin-right: 0;
}

.symbol {
  margin-right: 0.3rem;
  user-select: none;
}

.cap,
.header-section-number {
  font-feature-settings: "c2sc" 0;
}

.smcp {
  font-feature-settings: "smcp" 1;
  text-transform: lowercase;
  letter-spacing: 0.06rem;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}

.cap {
  font-feature-settings: "c2sc" 0;
}

.nowrap {
  white-space: nowrap;
}

.dlig {
  font-feature-settings: "dlig";
}

.rali {
  text-align: right;
}

.mgnote {
  float: inherit;
  margin-right: inherit;
  width: inherit;
  font-size: inherit;
  line-height: inherit;
  border-left: inherit;
  padding-left: inherit;
  margin-top: inherit;
}

.mgnote::before {
  content: " (";
}

.mgnote::after {
  content: ")";
}

@media screen and (min-width: 1120px) {
  .mgnote {
    float: right;
    margin-right: -10.2rem;
    width: 7.7rem;
    font-size: 0.75rem;
    line-height: 1.32;
    border-left: 2px solid #00cf86;
    padding-left: 0.4rem;
    margin-top: 0.28rem;
  }

  .mgnote.left {
    float: left;
    margin-left: -10.7rem;
    margin-right: 0;
    border-left: none;
    padding-left: 0;
    border-right: 2px solid #00cf86;
    padding-right: 0.4rem;
    text-align: right;
  }

  .mgnote.darkzone {
    display: inherit;
    border-left: inherit;
  }

  .mgnote::after {
    content: ".";
  }

  .no-period::after {
    content: "";
  }

  .mgnote::before {
    content: "";
  }
}

.math,
.noenv {
  display: inline-block;
  margin-left: initial;
  transform: initial;
}

.tex:not(.math):not(.noenv) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

hr {
  height: 2px;
  background: #666;
  margin: 0.4rem auto;
}

p + hr {
  margin-top: -0.5rem;
}
